@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Radio+Canada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
.navbar{
    background-color: #4C504B;
    list-style: none;
    border: solid 1px #4C504B;
    font-family: 'Pacifico', cursive;
    margin-bottom : 0px ;
    color: white;
}

#logo{
    height: 50px;
    background-color: #4C504B;
}
body{
    font-family: 'Radio Canada';
    height: 100vh;
    background-color: #E3D8C8 ;
}

.navbarperso{
    border: solid 3px black;
    border-radius: 15px;
    
}

footer{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #4C504B;
    color: white;
    position: fixed;
    bottom: 0;


}
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

.carousel-control {
    position: absolute;
    top: 50%; /* pushes the icon in the middle of the height */
    z-index: 5;
    display: inline-block;
    }   
