<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./asset/style/catalogue.css">
  <title>menu</title>
</head>
<body>
  
</body>
</html>

<div class="container-card">
  <div class="card">
    <img src="./asset/image/Pizza 1.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Menu Solo</h5>
    </div>
  </div>

  <div class="card card-detail">
    <div class="detail">
      <h5>Ingredient :</h5>
      <p>Salade, tomate, oignons</p>
    </div>
      <form action="">
        <select name="taille" id="taille-pizza" class="dropdown">
          <option value="16">16 cm</option>
          <option value="24">24 cm</option>
          <option value="32">32 cm</option>
        </select>
      <br>
        <select name="pate" id="pate-pizza" class="dropdown">
          <option value="fine">Fine</option>
          <option value="moyenne">Moyenne</option>
          <option value="epaisse">Epaisse</option>
        </select>
      </form>
    <div class="card-body">
      <button type="submit" class="submit-button">Ajouter au panier</button>
    </div>
  </div>
</div>
