body {
    margin: 0%;
}

.corps {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 50px auto;
    height: 100vh;
}

.menu {
    background-color: aqua;
    border: 2px solid black;
    grid-column: 1;
    grid-row:  1/span 2;
}

.user {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.hide_menu {
    display: none;
}

.user:hover .hide_menu{
    display: block;
}

.show_menu {
    display: block;
}
img {
    text-align: center;
    width: 15px;
    height: 15px;
}
.all_favoris {
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
}

/* .all_dos {
    background-color: lightcoral;
}

.dos {
    background-color: lightgreen;
} */

.favoris_menu {
    /* background-color: lightslategrey; */
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    grid-row: 1;
}
.search .searchbutton {
    width: 15px;
    height: 15px;
}
.all_cards {
    /* background-color: red; */
    border: 2px solid black;
    grid-column: 2;
    grid-row: 2;
}

.card{
    /* background-color: yellow; */
}